<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newz</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/user" routerLinkActive="active">View</a></li>
      <li><a routerLink="/ratings" routerLinkActive="active">View All</a></li>
      <li><a routerLink="/add" routerLinkActive="active">Add</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>

    </ul>
  </div>
</nav>
